<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="energigas.apps.systemstrategy.energigas">


    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.PrintFacturaActivity"
            android:label="@string/title_activity_print_factura"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="energigas.apps.systemstrategy.energigas.activities.WizardOrderActivity" />
        </activity>
        <activity
            android:name=".activities.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="energigas.apps.systemstrategy.energigas.activities.WizardOrderActivity" />

        </activity>
        <activity
            android:name=".activities.AccountSummary"
            android:label="@string/activity_summary_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WizardOrderActivity"
            android:label="@string/wizard_title_activity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="energigas.apps.systemstrategy.energigas.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DispatchActivity"
            android:label="@string/title_activity_dispatch"
            android:parentActivityName=".activities.WizardOrderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="energigas.apps.systemstrategy.energigas.activities.WizardOrderActivity" />
        </activity>
        <activity
            android:name=".activities.PrintDispatch"
            android:label="@string/title_activity_print_dispatch"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.ExpensesActivity"
            android:label="@string/activity_expenses_account"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.ChargesActivity"
            android:label="@string/activity_charges_account"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.MainStationActivity"
            android:label="@string/title_activity_main_station"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="energigas.apps.systemstrategy.energigas.activities.WizardOrderActivity" />
        </activity>

        <activity
            android:name=".activities.LoadInventory"
            android:label="@string/title_activity_load_inventory"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>